.pdfBtn {
    border-radius: 20px;
    padding: 5px 15px;
    background-color: #fff;
    color: #d31717;
    border: 1px solid #d31717;
    font-size: 12px;
}

.customerKyc {
    border-radius: 20px;
    padding: 5px 15px;
    background-color: #fff;
    color: #5919d1;
    border: 1px solid #5919d1;
    font-size: 12px;
}