.oemSource{
    padding: 2px 5px;
    background-color: #FFD4D6;
    width: 100%;
    max-width: 34px;
    color: #DA2128 !important;
    border:1px  #DA2128;
    border-radius: 5px;
    font-weight: bold;
}

.osoSource{
    padding: 2px 5px;
    background-color: #E9F4FF;
    width: 100%;
    max-width: 34px;
    color: #366896 !important;
    border: 1px #E9F4FF;
    border-radius: 5px;
    font-weight: bold;
}

.sellClass{
    padding: 2px 5px;
    background-color: #DAF2DD;
    width: 100%;
    max-width: 70px;
    color: #196834 !important;
    border: 1px #E9F4FF;
    text-align: center;
    border-radius: 5px;
}

.exchangeClass{
    padding: 2px 5px;
    background-color: #E9F4FF;
    width: 100%;
    max-width: 70px;
    color: #366896 !important;
    border: 1px #E9F4FF;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.actionClass{
    background-color: #6FC978;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 8px;
}