.Slider-header{
    height: 5rem;
    background: #111328;
}

.droppedClass{
    border: 1px solid #FFD5D6;
    background-color: #FFD5D6;
    color: #DA2128;
    border-radius: 13px;
    width: 100%;
    text-align: center;
}

.pendingClass{
    border: 1px solid #CECECE;
    background-color: #CECECE;
    color: #4A4A4A;
    border-radius: 13px;
    width: 100%;
    text-align: center;
}