.btn-icon-square {
    width: 15px;
    height: auto;
    margin-left: 10px;
    margin-top: -2px;

}

.icon-btn-square {
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 14px;
    min-width: fit-content;
    background-color: #2C3376;
    color: white;
    border: none;

    &:disabled {
        background-color: lighten(#111328, 50%);
    }
}