.inputRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #4A4A4A
}


.dialogContent {

    // max-height: 520px;
}


.date-picker {
    // color: #DA2128;
}

.editCardMain {
    width: 500px;
    // height: 800px;
    overflow: visible;
    // z-index: -1;
}

.inputBalance {
    align-items: flex-start;
    padding: 10px 12px;
    width: 286px;
    height: 38px;
    background: #FAFAFA;
    border-radius: 7px;
    margin-left: 5px;
    border: 1px solid #3E3E3E;

    &.availableBalance {
        border: none;
    }
}

.limiterrorDiv {
    color: #DA2128;
    font-size: 12px;
    margin-top: -15px;
}

.credit-date-picker {
    width: 286px;

}

.calender-icon-credit {
    width: 20px;
    margin-right: -90px;
}

.creditCalender {
    visibility: hidden;
}

.enableButtonCredit {
    padding: 12px 36px;
    border-radius: 6px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: #4DBD74;
    width: auto;
    height: auto;

}

.enableButtonCredit:disabled,
.enableButtonCredit[disabled] {
    // border: 1px solid #999999;
    background-color: #D0D0D0;
    color: #FFFFFF;
}

.dialogMainCreditLimit div.MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-elevation24.MuiPaper-rounded {
    overflow: initial;
}