.table-wraper {
  background-color: white;
  overflow-x: auto;

  .link {
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
  }

  &.marginTop {
    margin-top: 22px;
  }

  &.marginTopFranchise {
    margin-top: 2px;
  }

  &.drawerStyles {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% - 250px)
  }
  .custombtn1 {
    width:100%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    height: 20px;
    margin-right: -55px;
  }
  .custombtn2 {
    width:80%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    height: 20px;
  }
  &.sort {
    cursor: pointer;
  }

  .MuiTableCell-sizeSmall {
    padding: 6px 8px 6px 8px;
  }

  .MuiTable-root {
    font-family: inherit;

    .MuiTableHead-root {
      th {
        font-size: 13px;
      }
    }

    .MuiTableBody-root {
      td {
        font-size: 11px;
      }
    }

    .MuiTableHead-root {
      box-shadow: $shadow;

      .MuiTableRow-root .MuiTableCell-root {
        line-height: 1rem;
      }
    }
  }

  .table-paginator {
    padding: 20px 15px;
    overflow: auto;
  }
}

.payment-action-icon {
  width: 15px;
  cursor: pointer;
}

.MuiTableRow-root.MuiTableRow-hover:hover {
  background-color: #F4F7FD !important;
}

td p {
  margin: 0;
}

.action-icon {
  width: 15px;
  cursor: pointer;
}

.MuiDrawer-paperAnchorRight {
  left: auto;
  width: 300px;
  right: 0px;
  height: 100vh;
}

.customerDetails {
  border: 1px solid black;
  margin-top: 20px;
}

.dividerWidth {
  width: 100%;
}

.tableCellHead {
  font-family: 'ProximaNovaSemibold';
}