
.cancelButton{
    background: grey;
    padding: 8px;
    border-radius: 17px;
}

.confirmButton{
    background-color: #4DBD74;
    border-color: #4DBD74;
    padding: 8px;
    border-radius: 17px;
}