.modalCSS{
  text-align: right;
}

.otpButton{
  margin-top: -9px;
}

.enableColor{
  width: 100%;
  max-width: 75px;
  border-radius: 15px;
  color: white;
  background-color: green;
  border-color: green;
  padding: 5px 10px;
}

.disableColor{
  width: 100%;
  max-width: 75px;
  border-radius: 15px;
  color: white;
  border-color: gray;
  background-color: gray;
  padding: 5px 10px;

}