@import 'src/scss/settings/variable.scss';

.dialogContent {
	display: flex;
	flex-direction: column;
	padding: 35px 24px;
	min-height: 150px;
	max-height: 350px;
	align-items: center;
}

.divider {
	border-bottom: 1px solid #eeeeee;
}

.dialogActions {
	padding: 15px 50px;
}
