.count
{
    width: 61px;
    height: 63px;
    font-family: ProximaNova;
    font-size: 52px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #949494;
  }