.leadLabel{
    background-color: #DCE7FD !important;
   padding: 2px !important;
    // color: white;
}


.TPstatusLabel {
  // border: 1px solid rgb(77, 189, 116);
  // margin-bottom: 15px;
  background-color: rgb(217, 255, 220);
  color: rgb(77, 189, 116) !important;
  text-align: center;
  width: 100%;
  max-width: 35px;
  margin-top: 5px;
}

.NTPstatusLabel {
  // border: 1px solid rgb(77, 189, 116);
  // margin-bottom: 15px;
  background-color: #FBEEED;
  color: #DA2128 !important;
  text-align: center;
  width: 100%;
  max-width: 35px;
  margin-top: 5px;
}